

<!--学生证信息编辑页-->
<div class="card-body col-md-12">
    <button class="col-md-12 btn btn-toolbar" ui-sref="card">返回</button>
    <div class="">
        <!--学渣乐园学生卡-->
        <div class="form-group student-card margin-top-10">
            <div class="col-md-12 tac padding-top-10">学渣乐园学生卡</div>
            <!--更换头像-->
            <div class="col-md-12 margin-top-10 padding-10 form-group">
                <span class="col-md-2">头像：</span>
                <div class="text-right img-show">
                    <img src="/img/template/2.png" alt="">

                </div>
                <!--写一个图片上传-->
            </div>
            <!--更换名称-->
            <div class="col-md-12 margin-top-10 padding-10">
                <span class="col-md-2">昵称：</span>
                <input type="text" title="">
                <!--写一个input-text-->
            </div>
            <!--更换年级-->
            <div class="col-md-12 margin-top-10 padding-10">
                <span class="col-md-2">年级：</span>
                <!--利用插件scroll-->
                <div>

                </div>
            </div>
        </div>
    </div>

    <button class="col-md-12 btn btn-success margin-top-10">
        保存修改
    </button>
</div>
