

<main>
    <div class="home-img">
        <img class="bgc-img" src="../img/ui/home-img.png" alt="land-map" border="0" usemap="#fairyland">
        <map name="fairyland" id="fairyland">
            <!--影视部-->
            <area shape="rect" coords="280,0,540,280" ui-sref="video" alt="video">
            <!--文学部-->
            <area shape="rect" coords="100,300,320,510" ui-sref="article" alt="article">
            <!--宿舍-->
            <area shape="rect" coords="60,30,270,220" href="#" alt="room">
            <!--体育馆-->
            <area shape="rect" coords="650,10,850,220" href="#" alt="gym">
            <!--商店-->
            <area shape="rect" coords="630,290,820,470" href="#" alt="shop">
            <!--公告栏-->
            <area shape="rect" coords="410,370,500,500" href="#" alt="notice">
        </map>
        <div class="">
            <a ui-sref="sign">
                <img class="sign-btn" src="/img/ui/sign.png" alt="">
            </a>
        </div>
        <div class="">
            <a ui-sref="card">
                <img class="card-btn" src="/img/ui/card.png" alt="">
            </a>
        </div>
    </div>
</main>

